<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ object.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Blog</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           
            {% if user.is_authenticated %}
            <li class="nav-item" data-toggle="modal" data-target="#logoutModal">
              <a class="nav-link">{{user}}</a>
            </li>
            
            {% else %}
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#registerModal">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-toggle="modal" data-target="#loginModal">Login</a>
            </li>
            {% endif %}


            
          </ul>


          <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">

            <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search" required>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          
          </form>

          
        </div>
      </nav>
</head>
<body>
    <div class="container-fluid">
    <h1 class="text-center">{{object.title}}</h1>
    <h5>{{object.author}}</h5><time>{{object.created_on}}<time>
    
    
    <p class="container first-letter-big article-paragraph">{{object.content}}</p>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
<footer>
  <div class="container text-center made-with-container">
    Made with <i class="fa fa-heart"></i> by <a href="https://instagram.com/shaikhsajid1111" target="_blank">Sajid</a>
  </div>

    <div class=" social-media-icons">
      <ul>
      <li><a target="_blank" href="https://facebook.com/shaikhsajid1111"><i class="fa fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/shaikhsajid1111"><i class="fa fa-twitter"></i></a></li>
      <li><a target="_blank" href="https://instagram.com/shaikhsajid1111"><i class="fa fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://github.com/shaikhsajid1111"><i class="fa fa-github"></i></a></li>
    </ul>
    </div> 

</footer>
</html>