<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h2>Results: </h2>
    {% if post_list|length < 1 %}
    <p>Nothing Found!</p>
    {% endif %}
    {% for post in post_list %}
    {{ post.title }}
    <a href="{% url 'post_detail' post.slug %}">read more</a>
    {% endfor %}
</body>
</html>
<!--love does not consist in gazing at each other, but in looking outward together in the same direction-->